@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixin';

.ng-invalid.ng-dirty:not(form) {
    border: 1px solid red;
}

input{
    @include border-radius(5px);
}

// .form-control-box{
//     margin-left: 10px;
// }
// .form-control-box>span{
//     color:red;
// }
// .form-control-box>label{
//     color: gray;
// }

// .form-control-box.background-color{
//     background-color: cyan;
// }

.form-control-box {
    margin-left: 10px;

    &.background-color{
        background-color: cyan;
    }

    >span {
        color: $textColor;
    }

    >label{
        color: gray;
    }
}
