<p *ngFor="let game of otherGameList">{{game.name}}</p> 

<form [formGroup]="gameForm" (ngSubmit)="addGame()">
    <div>
        <label for="name">Nome</label>
        <input id="name" formControlName="name">
    </div>
    <div>
        <label for="author">Autore</label>
        <input id="author" formControlName="author">
    </div>
    <button type="submit" [disabled]="gameForm.status=== 'INVALID'">Inserisci Gioco</button>
</form>

<select [(ngModel)]="selectedAuthor" (change)="retrieveGames()">
    <option value=''>Tutti</option>
    <option value='EA'>EA</option>
    <option value='Eidos'>Eidos</option>
    <option value='Bungie'>Bungie</option>
</select>

<div *ngFor="let game of gameList">
    <span>{{game.name}}</span>
    <button (click)="showDetail(game.id)">Dettaglio</button>
    <button (click)="removeGame(game.id)">Elimina</button>
</div> 

<form *ngIf="gameSelected" (ngSubmit)="editGame()" #editGameForm="ngForm">
    <h1>Dettaglio</h1>
    <div>
        <label for="name">Nome</label>
        <input id="name" [(ngModel)]="gameSelected.name" name="name">
    </div>
    <div>
        <label for="name">Nome</label>
        <input id="name" [(ngModel)]="gameSelected.author" name="author">
    </div>    
    <button type="submit" [disabled]="editGameForm.invalid">Modifica Gioco</button>
</form>